
    .grid-container {
      display: grid;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
    }

    .grid-item {
      font-size: 3rem;
      background-color: darkviolet;
      border: 5px solid goldenrod;
      color: white;
    }
  